body {background-image: url('https://wallpapercave.com/wp/o3mD2kA.jpg');
  background-position: center;
  background-repeat: no-repeat;}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}